<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr> 
                <td>add std</td>
                <td><input type="text" name="std"></td>
            </tr>
            <tr>
                <td>add div</td>
                <td><input type="text" name="division"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="addDiv"></td>
            </tr>
        </table>
    </form>
</body>
</html>