<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="" width="100%"  style="text-align:center">
        <td><a href="/addstandard">add std</a></td>
        <td><a href="/addDiv">Add div</a></td>
        <td><a href="/addstaff">Add staff</a></td>
        <td><a href="/viewstaff">view staff</a></td>
        <td><a href="/addstu">Add student</a></td>
        <td><a href="/viewstu">view student</a></td>
        <td><a href="/viewstd">View std</a></td>
        <td><a href="/viewresult">View result</a></td>
        <td><a href="/resultstd">View std wise result</a></td>
        <td><a href="/viewtop">top 3</a></td>
        <td><a hrefs="/logout">log out</a></td>

    </table>

</body>

</html>